{% extends "authBase.html" %}
{% load static %}

{% block title %}
Sign Up
{% endblock %}



{% block content %}
<div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

    <!-- Heading -->
    <h1 class="font-bold text-center">Sign in</h1>

    <!-- Text -->
    <p class="text-center mb-6">Welcome to the official Chat web-client.</p>

    <!-- Form -->
    {% load crispy_forms_tags %}
    <form class="mb-6" method="post">

      {% csrf_token %}
      {{ form|crispy }}

      <div class="form-group d-flex justify-content-between">
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked="" id="checkbox-remember">
              <label class="custom-control-label" for="checkbox-remember">Remember me</label>
          </div>
          <a href="./password-reset.html">Reset password</a>
      </div>

      <!-- Submit -->
      <button class="btn btn-lg btn-block btn-primary" type="submit">Sign in</button>
    </form>



</div>
{% endblock %}
