{% extends "base.html" %}
{% load static %}

{% block title %}
<title>MeetNakama | Password Reset</title>
{% endblock %}

{% block content %}
<div class="layout">

    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">

            <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
              {% if validlink %}
                <!-- Heading -->
                <h1 class="font-bold text-center">Password Reset</h1>

                  <!-- Text -->
                  <p class="text-center mb-6">Enter your new password.</p>
                  {% load crispy_forms_tags %}

                  <!-- Form -->
                  <form class="mb-6" method="post">
                    {% csrf_token %}


                      <!-- Email -->
                      <div class="form-group">
                          {{ form|crispy }}
                      </div>

                      <!-- Submit -->
                      <button class="btn btn-lg btn-block btn-primary" type="submit">Reset Password</button>
                  </form>


              {% else %}
                <!-- Heading -->
                <h1 class="font-bold text-center">Password Reset Error</h1>
                <!-- Text -->
                <p class="text-center">
                    Link was invalid. <a href="{% url 'password-reset' %}">Request a new link</a>.
                </p>
              {% endif %}

            </div>
        </div> <!-- / .row -->
    </div>

</div><!-- .layout -->
{% endblock %}
