{% extends "base.html" %}
{% load static %}
{% block title %}
<title>MeetNakama | Home</title>
{% endblock %}
{% block content %}
<div class="layout">
  <!-- Navbar -->
  <div class="navigation navbar navbar-light justify-content-center py-xl-7">
    <!-- Brand -->
    <a href="#" class="d-none d-xl-block mb-6">
      <img src="{% static 'images/nakamaLogo.png' %}" class="mx-auto fill-primary" data-inject-svg="" alt="" style="height: 46px;">
    </a>
    <!-- Menu -->
    <ul class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0" role="tablist">
      <!-- Invisible item to center nav vertically -->
      <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
        <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
          <i class="icon-lg fe-x"></i>
        </a>
      </li>
      <!-- Create group -->
      <li class="nav-item invisible">
        <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
          <i class="icon-lg fe-x"></i>
        </a>
      </li>
      <!-- Friend -->
      <li class="nav-item mt-xl-9">
        <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-friends" title="Friends" role="tab">
          <i class="icon-lg fe-users"></i>
        </a>
      </li>
      <!-- Home -->
      <li class="nav-item mt-xl-9">
        <a class="nav-link position-relative p-0 py-xl-3 active" data-toggle="tab" href="#tab-content-home" title="Home" role="tab">
          <i class="icon-lg fe-globe"></i>
          <div class="badge badge-primary badge-bottom-center"></div>
        </a>
      </li>
      <!-- Chats -->
      <li class="nav-item mt-xl-9">
        <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-dialogs" title="Chats" role="tab">
          <i class="icon-lg fe-message-square"></i>
        </a>
      </li>
      <!-- Profile -->
      <li class="nav-item mt-xl-9">
        <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-user" title="User" role="tab">
          <i class="icon-lg fe-user"></i>
        </a>
      </li>
      <!-- Invisible item to center nav vertically -->
      <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
        <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
          <i class="icon-lg fe-x"></i>
        </a>
      </li>
      <!-- Settings -->
      <li class="nav-item invisible mt-xl-9">
        <a class="nav-link position-relative p-0 py-xl-3" href="#" title="Settings">
          <i class="icon-lg fe-x"></i>
        </a>
      </li>
    </ul>
    <!-- Menu -->
  </div>
  <!-- Navbar -->
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="tab-content h-100" role="tablist">
      <div class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
        <div class="d-flex flex-column h-100">
          <div class="hide-scrollbar">
            <div class="container-fluid py-6">
              <!-- Title -->
              <h2 class="font-bold mb-6">Friends</h2>
              <!-- Title -->
              <!-- Search -->
              <form class="mb-6">
                <div class="input-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Search for messages or users..." aria-label="Search for messages or users...">
                  <div class="input-group-append">
                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                      <i class="fe-search"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!-- Search -->
              <!-- Button -->
              <button type="button" class="btn btn-lg btn-block btn-secondary d-flex align-items-center mb-6" data-toggle="modal" data-target="#invite-friends">
                Invite friends
                <i class="fe-users ml-auto"></i>
              </button>
              <!-- Friends -->
              <nav class="mb-n6">
                <!-- Friend -->
                <div class="card mb-6">
                  <div class="card-body">
                    <div class="media">
                      <div class="avatar avatar-online mr-5">
                        <img class="avatar-img" src="assets/{% static contact.user.image %}" alt="Anna Bridges">
                      </div>
                      <div class="media-body align-self-center">
                        <h6 class="mb-0">{{ contact.user.first_name }}</h6>
                        <small class="text-muted">Online</small>
                      </div>
                      <div class="align-self-center ml-5">
                        <div class="dropdown z-index-max">
                          <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                              New chat <span class="ml-auto fe-edit-2"></span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                              Delete <span class="ml-auto fe-trash-2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Link -->
                    <a href="/chat/{{ contact.user }}" class="stretched-link"></a>
                  </div>
                </div>
                <!-- Friend -->
              </nav>
              <!-- Friends -->
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade h-100 show active" id="tab-content-home" role="tabpanel">
        <div class="d-flex flex-column h-100">
          <div class="hide-scrollbar">
            <div class="container-fluid py-6">
              <!-- Title -->
              <h2 class="font-bold mb-6">Start chat</h2>
              <!-- Title -->
              <!-- Tabs -->
              <ul class="nav nav-tabs nav-justified mb-6" role="tablist">
                <li class="nav-item">
                  <a href="#start-chat-group" class="nav-link" data-toggle="tab" role="tab" aria-selected="false">Group</a>
                </li>
              </ul>
              <!-- Tabs -->
              <!-- start chat -->
              <div class="tab-content" role="tablist">
                <!-- Chat single -->
                <div id="start-chat-group" class="tab-pane fade show active" role="tabpanel">
                  <div class="form-group">
                    <label class="small">Subjects</label>
                    <input class="btn btn-lg btn-secondary btn-block" type="button" id="room-music" value="Music">
                    <br>
                    <input class="btn btn-lg btn-secondary btn-block" type="button" id="room-games" value="Games">
                    <br>
                    <input class="btn btn-lg btn-secondary btn-block" type="button" id="room-movies" value="Movies">
                    <br>
                    <input class="btn btn-lg btn-secondary btn-block" type="button" id="room-sports" value="Sports">
                    <br>
                    <input class="btn btn-lg btn-primary btn-block" type="button" id="" value="Start Chat" data-toggle="modal" data-target="#how-works">
                  </div>
                </div>
                <!-- Chat single -->
                <!-- Chat group -->
                <!-- Chat group -->
              </div>
              <!-- Create chat -->
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade h-100" id="tab-content-dialogs" role="tabpanel">
        <div class="d-flex flex-column h-100">
          <div class="hide-scrollbar">
            <div class="container-fluid py-6">
              <!-- Title -->
              <h2 class="font-bold mb-6">Chats</h2>
              <!-- Title -->
              <!-- Search -->
              <form class="mb-6">
                <div class="input-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Search for messages or users..." aria-label="Search for messages or users...">
                  <div class="input-group-append">
                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                      <i class="fe-search"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!-- Search -->
              <!-- Favourites -->
              <div class="text-center hide-scrollbar d-flex my-7" data-horizontal-scroll="">
                <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                  <div class="avatar avatar-sm avatar-online mb-3">
                    <img class="avatar-img" src="assets/images/avatars/undraw_profile_1.svg" alt="Image Description">
                  </div>
                  <div class="small">Anna</div>
                </a>
                <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                  <div class="avatar avatar-sm avatar-online mb-3">
                    <img class="avatar-img" src="assets/images/avatars/undraw_profile_2.svg" alt="Image Description">
                  </div>
                  <div class="small">Brian</div>
                </a>
              </div>
              <!-- Favourites -->
              <!-- Chats -->
              <nav class="nav d-block list-discussions-js mb-n6">
                <!-- Chat link -->
                <a class="text-reset nav-link p-0 mb-6" href="/chat/{{ chat.id }}/">
                  <div class="card card-active-listener">
                    <div class="card-body">
                      <div class="media">
                        <div class="avatar mr-5">
                          <img class="avatar-img" src="assets/images/avatars/undraw_profile_2.svg" alt="Brian Dawson">
                        </div>
                        <div class="media-body overflow-hidden">
                          <div class="d-flex align-items-center mb-1">
                            <h6 class="text-truncate mb-0 mr-auto">{{ chat.id }}</h6>
                            <p class="small text-muted text-nowrap ml-4">10:42 am</p>
                          </div>
                          <div class="text-truncate">Brian Dawson: Hey, Maher! How are you? The weather is great isn't it?</div>
                        </div>
                      </div>
                    </div>
                    <div class="badge badge-circle badge-primary badge-border-light badge-top-right">
                      <span>3</span>
                    </div>
                  </div>
                </a>
                <!-- Chat link -->
              </nav>
              <!-- Chats -->
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade h-100" id="tab-content-user" role="tabpanel">
        <div class="d-flex flex-column h-100">
          <div class="hide-scrollbar">
            <div class="container-fluid py-6">
              <!-- Title -->
              <h2 class="font-bold mb-6">Profile</h2>
              <!-- Title -->
              <!-- Card -->
              <div class="card mb-6">
                <div class="card-body">
                  <div class="text-center py-6">
                    <!-- Photo -->
                    <div class="avatar avatar-xl mb-5">
                      <img class="avatar-img" src="assets/{% static user.image %}" alt="">
                    </div>
                    <h5>{{ user.name }}</h5>
                    <p class="text-muted mt-5">{{ user.bio }}</p>
                  </div>
                </div>
              </div>
              <!-- Card -->
              <!-- Card -->
              <div class="card mb-6">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0 py-6">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <p class="small text-muted mb-0">Location</p>
                          <p>{{ user.location }}</p>
                        </div>
                        <i class="text-muted icon-sm fe-globe"></i>
                      </div>
                    </li>
                    <li class="list-group-item px-0 py-6">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <p class="small text-muted mb-0">Phone</p>
                          <p>{{ user.phone }}</p>
                        </div>
                        <i class="text-muted icon-sm fe-smartphone"></i>
                      </div>
                    </li>
                    <li class="list-group-item px-0 py-6">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <p class="small text-muted mb-0">Email</p>
                          <p>{{ user.email }}</p>
                        </div>
                        <i class="text-muted icon-sm fe-mail"></i>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Card -->
              <!-- Card -->
              <div class="card mb-6">
                <div class="card-header">
                  <p class="small text-muted mb-0">Traits</p>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">Funny <span
                                        class="float-right">20%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Smart <span
                                        class="float-right">40%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Kind <span
                                        class="float-right">60%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Mean <span
                                        class="float-right">80%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">Boring <span
                                        class="float-right">Complete!</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <!-- Card -->
              <div class="form-row">
                <div class="col">
                  <!-- Button -->
                  <a href="{% url 'Settings' %}" class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                    Settings
                    <span class="fe-settings ml-auto"></span>
                  </a>
                </div>
                <div class="col">
                  <!-- Button -->
                  <a href="{% url 'logout' %}" class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                    Logout
                    <span class="fe-settings ml-auto"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar -->
  <!-- Main Content -->
  <div id="homeView" class="main" data-mobile-height="">
    <!-- Default Page -->
    <div class="chat flex-column justify-content-center text-center">
      <div class="container-xxl">
        <div class="avatar avatar-lg mb-5">
          <img class="avatar-img" src="assets/{% static user.image %}" alt="">
        </div>
        <h6>Hey, {{ request.user.first_name }}!</h6>
        <p>Please select a chat to start messaging.</p>
      </div>
    </div>
  </div>
</div>
<!-- Main Content -->

<!-- Layout -->
<!-- Modal: how Chat works -->
<div class="modal fade" id="how-works" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="media flex-fill">
          <div class="icon-shape rounded-lg bg-primary text-white mr-5">
            <i class="fe-info"></i>
          </div>
          <div class="media-body align-self-center">
            <h5 class="modal-title">How this works</h5>
            <p class="small">A small explanation on how chatting works.</p>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label for="invite-email" class="small">1. You’ll see a snippet of the others who are in your chat room!</label>
            <div class="card mx-auto">
              <div class="card-body">
                <div class="media">
                  <div class="avatar mr-5">
                    <img class="avatar-img" src="assets/images/avatars/undraw_profile_2.svg" alt="Brian Dawson">
                  </div>
                  <div class="media-body overflow-hidden">
                    <div class="d-flex align-items-center mb-1">
                      <h6 class="text-truncate mb-0 mr-auto">Brian Dawson</h6>
                    </div>
                    <div class="text-truncate"><i class="fe-award"></i>&emsp;<span class="badge badge-info mr-auto">Kind</span>&emsp;<span class="badge badge-success mr-auto">Smart</span>&emsp;<span class="badge badge-warning mx-auto">Bold</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="invite-email" class="small">2. Once the room starts you have <b>10 minutes</b> to chat before the room closes!</label>
            <p class="justify-content-center d-flex align-items-center display-3"><i class="fe-info">&nbsp;</i>10:00</p>
          </div>
          <div class="form-group">
            <label for="invite-email" class="small">3. You’ll have the option to add those you enjoyed talking to at the end!</label>
            <div class="card">
              <div class="card-body">
                <div class="media d-flex align-items-center">
                  <div class="avatar mr-5">
                    <img class="avatar-img" src="assets/images/avatars/undraw_profile_2.svg" alt="Brian Dawson">
                  </div>
                  <h6 class="text-truncate mb-0 mr-auto">Brian Dawson</h6>
                  <i class="h3 align-right fe-user-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <input class="btn btn-lg btn-primary btn-block" type="button" id="" value="Got It" data-dismiss="modal" data-toggle="modal" data-target="#start-chat">
      </div>
    </div>
  </div>
</div>
<!-- Modal: how Chat works -->
<!-- Modal: chat participants -->
<div class="modal fade" id="start-chat" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="media flex-fill">
          <div class="icon-shape rounded-lg bg-primary text-white mr-5">
            <i class="fe-users"></i>
          </div>
          <div class="media-body align-self-center">
            <h5 class="modal-title">Who you will be talking to</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">/
        <div class="card mb-5">
          <div class="card-body">
            <div class="media">
              <div class="avatar mr-5">
                <img class="avatar-img" src="assets/images/avatars/undraw_profile_2.svg" alt="Brian Dawson">
              </div>
              <div class="media-body overflow-hidden">
                <div class="d-flex align-items-center mb-1">
                  <h6 class="text-truncate mb-0 mr-auto">Brian Dawson</h6>
                </div>
                <div class="text-truncate"><i class="fe-award"></i>&emsp;<span class="badge badge-info mr-auto">Kind</span>&emsp;<span class="badge badge-success mr-auto">Smart</span>&emsp;<span class="badge badge-warning mx-auto">Bold</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-5">
          <div class="card-body">
            <div class="media">
              <div class="avatar mr-5">
                <img class="avatar-img" src="assets/images/avatars/undraw_profile_2.svg" alt="Brian Dawson">
              </div>
              <div class="media-body overflow-hidden">
                <div class="d-flex align-items-center mb-1">
                  <h6 class="text-truncate mb-0 mr-auto">Brian Dawson</h6>
                </div>
                <div class="text-truncate"><i class="fe-award"></i>&emsp;<span class="badge badge-info mr-auto">Kind</span>&emsp;<span class="badge badge-success mr-auto">Smart</span>&emsp;<span class="badge badge-warning mx-auto">Bold</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-5">
          <div class="card-body">
            <div class="media">
              <div class="avatar mr-5">
                <img class="avatar-img" src="assets/images/avatars/undraw_profile_2.svg" alt="Brian Dawson">
              </div>
              <div class="media-body overflow-hidden">
                <div class="d-flex align-items-center mb-1">
                  <h6 class="text-truncate mb-0 mr-auto">Brian Dawson</h6>
                </div>
                <div class="text-truncate"><i class="fe-award"></i>&emsp;<span class="badge badge-info mr-auto">Kind</span>&emsp;<span class="badge badge-success mr-auto">Smart</span>&emsp;<span class="badge badge-warning mx-auto">Bold</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-block btn-primary d-flex align-items-center" id="room-submit">
          Start Chat
          <i class="fe-user-plus ml-auto"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: Start Chat -->
<!-- Modal: Invite friends -->
<div class="modal fade" id="invite-friends" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="media flex-fill">
          <div class="icon-shape rounded-lg bg-primary text-white mr-5">
            <i class="fe-users"></i>
          </div>
          <div class="media-body align-self-center">
            <h5 class="modal-title">Invite friends</h5>
            <p class="small">Invite colleagues, clients and friends.</p>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label for="invite-email" class="small">Email</label>
            <input type="text" class="form-control form-control-lg" id="invite-email">
          </div>
          <div class="form-group mb-0">
            <label for="invite-message" class="small">Invitation message</label>
            <textarea class="form-control form-control-lg" id="invite-message" data-autosize="true"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-block btn-primary d-flex align-items-center">
          Invite friend
          <i class="fe-user-plus ml-auto"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: Invite friends -->
{% endblock %}
