{% extends "base.html" %}
{% load static %}

{% block title %}
<title>MeetNakama | Settings</title>
{% endblock %}

{% block content %}
<div class="layout">

    <!-- Navbar -->
    <div class="navigation navbar navbar-light justify-content-center py-xl-7">

        <!-- Brand -->
        <a href="#" class="d-none d-xl-block mb-6">
            <img src="{% static 'images/brand.svg' %}" class="mx-auto fill-primary" data-inject-svg="" alt="" style="height: 46px;">
        </a>

        <!-- Menu -->
        <ul class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0" role="tablist">



            <!-- Invisible item to center nav vertically -->
            <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                    <i class="icon-lg fe-x"></i>
                </a>
            </li>

            <!-- Create group -->
            <li class="nav-item invisible">
                <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                    <i class="icon-lg fe-x"></i>
                </a>
            </li>

            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-friends" title="Friends" role="tab">
                    <i class="icon-lg fe-users"></i>
                </a>
            </li>

            <!-- Home -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-home" title="Home" role="tab">
                    <i class="icon-lg fe-globe"></i>
                    <div class="badge badge-primary badge-bottom-center"></div>
                </a>
            </li>

            <!-- Chats -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-dialogs" title="Chats" role="tab">
                    <i class="icon-lg fe-message-square"></i>
                </a>
            </li>

            <!-- Profile -->
            <li class="nav-item mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3 active" data-toggle="tab" href="#tab-content-user" title="User" role="tab">
                    <i class="icon-lg fe-user"></i>
                </a>
            </li>

            <!-- Invisible item to center nav vertically -->
            <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                    <i class="icon-lg fe-x"></i>
                </a>
            </li>

            <!-- Settings -->
            <li class="nav-item invisible mt-xl-9">
                <a class="nav-link position-relative p-0 py-xl-3" href="#" title="#">
                    <i class="icon-lg fe-x"></i>
                </a>
            </li>


        </ul>
        <!-- Menu -->

    </div>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="tab-content h-100" role="tablist">
          <div class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
              <div class="d-flex flex-column h-100">

                  <div class="hide-scrollbar">
                      <div class="container-fluid py-6">

                          <!-- Title -->
                          <h2 class="font-bold mb-6">Friends</h2>
                          <!-- Title -->

                          <!-- Search -->
                          <form class="mb-6">
                              <div class="input-group">
                                  <input type="text" class="form-control form-control-lg" placeholder="Search for messages or users..." aria-label="Search for messages or users...">
                                  <div class="input-group-append">
                                      <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                          <i class="fe-search"></i>
                                      </button>
                                  </div>
                              </div>
                          </form>
                          <!-- Search -->

                          <!-- Button -->
                          <button type="button" class="btn btn-lg btn-block btn-secondary d-flex align-items-center mb-6" data-toggle="modal" data-target="#invite-friends">
                              Invite friends
                              <i class="fe-users ml-auto"></i>
                          </button>

                          <!-- Friends -->
                          <nav class="mb-n6">

                              <div class="mb-6">
                                  <small class="text-uppercase">A</small>
                              </div>

                              <!-- Friend -->
                              <div class="card mb-6">
                                  <div class="card-body">

                                      <div class="media">

                                          <div class="avatar avatar-online mr-5">
                                              <img class="avatar-img" src="{% static 'images/avatars/undraw_profile_1.svg' %}" alt="Anna Bridges">
                                          </div>

                                          <div class="media-body align-self-center">
                                              <h6 class="mb-0">Anna Bridges</h6>
                                              <small class="text-muted">Online</small>
                                          </div>

                                          <div class="align-self-center ml-5">
                                              <div class="dropdown z-index-max">
                                                  <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      <i class="fe-more-vertical"></i>
                                                  </a>
                                                  <div class="dropdown-menu">
                                                      <a class="dropdown-item d-flex align-items-center" href="#">
                                                          New chat <span class="ml-auto fe-edit-2"></span>
                                                      </a>
                                                      <a class="dropdown-item d-flex align-items-center" href="#">
                                                          Delete <span class="ml-auto fe-trash-2"></span>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <!-- Link -->
                                      <a href="/chat/" class="stretched-link"></a>

                                  </div>
                              </div>
                              <!-- Friend -->

                              <div class="mb-6">
                                  <small class="text-uppercase">B</small>
                              </div>

                              <!-- Friend -->
                              <div class="card mb-6">
                                  <div class="card-body">

                                      <div class="media">


                                          <div class="avatar mr-5">
                                              <img class="avatar-img" src="{% static 'images/avatars/undraw_profile_2.svg' %}" alt="Brian Dawson">
                                          </div>

                                          <div class="media-body align-self-center">
                                              <h6 class="mb-0">Brian Dawson</h6>
                                              <small class="text-muted">last seen 2 hours ago</small>
                                          </div>

                                          <div class="align-self-center ml-5">
                                              <div class="dropdown z-index-max">
                                                  <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      <i class="fe-more-vertical"></i>
                                                  </a>
                                                  <div class="dropdown-menu">
                                                      <a class="dropdown-item d-flex align-items-center" href="#">
                                                          New chat <span class="ml-auto fe-edit-2"></span>
                                                      </a>
                                                      <a class="dropdown-item d-flex align-items-center" href="#">
                                                          Delete <span class="ml-auto fe-trash-2"></span>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <!-- Link -->
                                      <a href="/chat/" class="stretched-link"></a>

                                  </div>
                              </div>
                              <!-- Friend -->

                          </nav>
                          <!-- Friends -->

                      </div>
                  </div>

              </div>
          </div>

          <div class="tab-pane fade h-100" id="tab-content-home" role="tabpanel">
              <div class="d-flex flex-column h-100">

                  <div class="hide-scrollbar">
                      <div class="container-fluid py-6">

                          <!-- Title -->
                          <h2 class="font-bold mb-6">Start chat</h2>
                          <!-- Title -->



                          <!-- Tabs -->
                          <ul class="nav nav-tabs nav-justified mb-6" role="tablist">
                              <li class="nav-item">
                                  <a href="#start-chat-single" class="nav-link active" data-toggle="tab" role="tab" aria-selected="true">Single</a>
                              </li>

                              <li class="nav-item">
                                  <a href="#start-chat-group" class="nav-link" data-toggle="tab" role="tab" aria-selected="false">Group</a>
                              </li>
                          </ul>
                          <!-- Tabs -->

                          <!-- start chat -->
                          <div class="tab-content" role="tablist">

                              <!-- Chat single -->
                              <div id="start-chat-single" class="tab-pane fade show active" role="tabpanel">
                                  <form action="#">
                                      <div class="form-group">
                                          <label class="small">Subjects</label>
                                          <button class="btn btn-lg btn-secondary btn-block" type="button" name="button">Music</button>
                                          <br>
                                          <button class="btn btn-lg btn-secondary btn-block" type="button" name="button">Games</button>
                                          <br>
                                          <button class="btn btn-lg btn-secondary btn-block" type="button" name="button">Movies</button>
                                          <br>
                                          <button class="btn btn-lg btn-secondary btn-block" type="button" name="button">Sports</button>
                                      </div>
                                  </form>
                              </div>
                              <!-- Chat single -->

                              <!-- Chat group -->
                              <div id="start-chat-group" class="tab-pane fade" role="tabpanel">
                                <!-- Search -->
                                <form class="mb-6">
                                  <div class="form-group">
                                    <label class="small">Invite friends</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Search for friends..." aria-label="Search for messages or users...">
                                        <div class="input-group-append">
                                            <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                                <i class="fe-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                  </div>
                                </form>
                                <!-- Search -->
                                <form action="#">
                                    <div class="form-group">
                                        <label class="small">Subjects</label>
                                        <button class="btn btn-lg btn-secondary btn-block" type="button" name="button">Music</button>
                                        <br>
                                        <button class="btn btn-lg btn-secondary btn-block" type="button" name="button">Games</button>
                                        <br>
                                        <button class="btn btn-lg btn-secondary btn-block" type="button" name="button">Movies</button>
                                        <br>
                                        <button class="btn btn-lg btn-secondary btn-block" type="button" name="button">Sports</button>
                                    </div>
                                </form>




                              </div>
                              <!-- Chat group -->

                          </div>
                          <!-- Create chat -->

                      </div>
                  </div>

                  <!-- Button -->
                  <div class="pb-6">
                      <div class="container-fluid">
                          <button class="btn btn-lg btn-primary btn-block" type="submit">Start Chat</button>
                      </div>
                  </div>

              </div>
          </div>

          <div class="tab-pane fade h-100" id="tab-content-dialogs" role="tabpanel">
              <div class="d-flex flex-column h-100">

                  <div class="hide-scrollbar">
                      <div class="container-fluid py-6">

                          <!-- Title -->
                          <h2 class="font-bold mb-6">Chats</h2>
                          <!-- Title -->

                          <!-- Search -->
                          <form class="mb-6">
                              <div class="input-group">
                                  <input type="text" class="form-control form-control-lg" placeholder="Search for messages or users..." aria-label="Search for messages or users...">
                                  <div class="input-group-append">
                                      <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                          <i class="fe-search"></i>
                                      </button>
                                  </div>
                              </div>
                          </form>
                          <!-- Search -->

                          <!-- Favourites -->
                          <div class="text-center hide-scrollbar d-flex my-7" data-horizontal-scroll="">
                              <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                                  <div class="avatar avatar-sm avatar-online mb-3">
                                      <img class="avatar-img" src="{% static 'images/avatars/undraw_profile_1.svg' %}" alt="Image Description">
                                  </div>
                                  <div class="small">Anna</div>
                              </a>

                              <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                                  <div class="avatar avatar-sm avatar-online mb-3">
                                      <img class="avatar-img" src="{% static 'images/avatars/undraw_profile_2.svg' %}" alt="Image Description">
                                  </div>
                                  <div class="small">Brian</div>
                              </a>
                          </div>
                          <!-- Favourites -->

                          <!-- Chats -->
                          <nav class="nav d-block list-discussions-js mb-n6">
                              <!-- Chat link -->
                              <a class="text-reset nav-link p-0 mb-6" href="/chat/">
                                  <div class="card card-active-listener">
                                      <div class="card-body">

                                          <div class="media">


                                              <div class="avatar mr-5">
                                                  <img class="avatar-img" src="{% static 'images/avatars/undraw_profile_2.svg' %}" alt="Brian Dawson">
                                              </div>

                                              <div class="media-body overflow-hidden">
                                                  <div class="d-flex align-items-center mb-1">
                                                      <h6 class="text-truncate mb-0 mr-auto">Brian Dawson</h6>
                                                      <p class="small text-muted text-nowrap ml-4">10:42 am</p>
                                                  </div>
                                                  <div class="text-truncate">Brian Dawson: Hey, Maher! How are you? The weather is great isn't it?</div>
                                              </div>
                                          </div>

                                      </div>


                                      <div class="badge badge-circle badge-primary badge-border-light badge-top-right">
                                          <span>3</span>
                                      </div>

                                  </div>
                              </a>
                              <!-- Chat link -->
                              <!-- Chat link -->
                              <a class="text-reset nav-link p-0 mb-6" href="/chat/">
                                  <div class="card card-active-listener">
                                      <div class="card-body">

                                          <div class="media">

                                              <div class="avatar avatar-online mr-5">
                                                  <img class="avatar-img" src="{% static 'images/avatars/undraw_profile_1.svg' %}" alt="Anna Bridges">
                                              </div>


                                              <div class="media-body overflow-hidden">
                                                  <div class="d-flex align-items-center mb-1">
                                                      <h6 class="text-truncate mb-0 mr-auto">Anna Bridges</h6>
                                                      <p class="small text-muted text-nowrap ml-4">10:42 am</p>
                                                  </div>
                                                  <div class="text-truncate">is typing<span class='typing-dots'><span>.</span><span>.</span><span>.</span></span></div>
                                              </div>
                                          </div>

                                      </div>


                                  </div>
                              </a>
                              <!-- Chat link -->

                          </nav>
                          <!-- Chats -->

                      </div>
                  </div>

              </div>
          </div>

          <div class="tab-pane fade h-100 show active" id="tab-content-user" role="tabpanel">
              <div class="d-flex flex-column h-100">

                  <div class="hide-scrollbar">
                      <div class="container-fluid py-6">

                          <!-- Title -->
                          <h2 class="font-bold mb-6">Profile</h2>
                          <!-- Title -->


                          <!-- Card -->
                          <div class="card mb-6">
                              <div class="card-body">
                                  <div class="text-center py-6">
                                      <!-- Photo -->
                                      <div class="avatar avatar-xl mb-5">
                                          <img class="avatar-img" src="{% static 'images/avatars/undraw_profile.svg' %}" alt="">
                                      </div>

                                      <h5>Matthew Wiggins</h5>
                                      <p class="text-muted">Bootstrap is an open source toolkit for developing web with HTML.</p>
                                  </div>
                              </div>
                          </div>
                          <!-- Card -->

                          <!-- Card -->
                          <div class="card mb-6">
                              <div class="card-body">
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item px-0 py-6">
                                          <div class="media align-items-center">
                                              <div class="media-body">
                                                  <p class="small text-muted mb-0">Country</p>
                                                  <p>Warsaw, Poland</p>
                                              </div>
                                              <i class="text-muted icon-sm fe-globe"></i>
                                          </div>
                                      </li>

                                      <li class="list-group-item px-0 py-6">
                                          <div class="media align-items-center">
                                              <div class="media-body">
                                                  <p class="small text-muted mb-0">Phone</p>
                                                  <p>+39 02 87 21 43 19</p>
                                              </div>
                                              <i class="text-muted icon-sm fe-smartphone"></i>
                                          </div>
                                      </li>

                                      <li class="list-group-item px-0 py-6">
                                          <div class="media align-items-center">
                                              <div class="media-body">
                                                  <p class="small text-muted mb-0">Email</p>
                                                  <p>anna@gmail.com</p>
                                              </div>
                                              <i class="text-muted icon-sm fe-mail"></i>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <!-- Card -->

                          <!-- Card -->
                          <div class="card mb-6">
                              <div class="card-header">
                                  <p class="small text-muted mb-0">Traits</p>
                              </div>
                              <div class="card-body">
                                <h4 class="small font-weight-bold">Funny <span
                                        class="float-right">20%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Smart <span
                                        class="float-right">40%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Kind <span
                                        class="float-right">60%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar" role="progressbar" style="width: 60%"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Mean <span
                                        class="float-right">80%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Boring <span
                                        class="float-right">Complete!</span></h4>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>
                          </div>
                          <!-- Card -->

                          <div class="form-row">
                              <div class="col">
                                  <!-- Button -->
                                  <a href="{% url 'Settings' %}" class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                                    Settings
                                    <span class="fe-settings ml-auto"></span>
                                  </a>
                              </div>

                              <div class="col">
                                  <!-- Button -->
                                  <a href="{% url 'logout' %}" class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                                    Logout
                                    <span class="fe-settings ml-auto"></span>
                                  </a>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>
          </div>
      </div>
    </div>
    <!-- Sidebar -->

    <!-- Main Content -->


    <div class="main main-visible" data-mobile-height="">
      <!-- Chat -->
      <div class="chat">

          <!-- Chat: body -->
          <div class="chat-body">

              <!-- Chat: Header -->
              <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                  <div class="container-xxl">

                      <div class="row align-items-center">

                          <!-- Close chat(mobile) -->
                          <div class="col-3 d-xl-none">
                              <ul class="list-inline mb-0">
                                  <li class="list-inline-item">
                                      <a class="text-muted px-0" href="#" data-chat="open">
                                          <i class="icon-md fe-chevron-left"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>

                          <!-- Chat photo -->
                          <div class="col-6 col-xl-6">
                              <div class="media text-center text-xl-left">
                                  <div class="media-body align-self-center text-truncate">
                                      <h6 class="text-truncate mb-n1">Settings</h6>
                                      <small class="text-muted">Update your profile details</small>
                                  </div>
                              </div>
                          </div>

                      </div><!-- .row -->

                  </div>
              </div>
              <!-- Chat: Header -->

              <!-- Chat: Content-->
              <div class="chat-content px-lg-8">
                  <div class="container-xxl py-6 py-lg-10">

                      <!-- Accordion -->
                      <div class="accordion modified-accordion mb-n6 mb-lg-8" id="profile-settings">
                          <div class="card-columns">

                              <!-- Card -->
                              <div class="card mb-6 mb-lg-8">
                                  <div class="card-header position-relative">
                                      <a href="#" class="text-reset d-block stretched-link collapsed" data-toggle="collapse" data-target="#profile-settings-account" aria-controls="profile-settings-account" aria-expanded="true">
                                          <div class="row no-gutters align-items-center">
                                              <!-- Title -->
                                              <div class="col">
                                                  <h5>Account</h5>
                                                  <p>Update your profile details.</p>
                                              </div>

                                              <!-- Icon -->
                                              <div class="col-auto">
                                                  <i class="text-muted icon-md fe-user"></i>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div id="profile-settings-account" class="collapse" data-parent="#profile-settings">
                                      <div class="card-body">
                                          <form action="#">
                                              <div class="form-group">
                                                  <label class="small">Avatar</label>
                                                  <div class="position-relative text-center bg-secondary rounded p-6">
                                                      <div class="avatar bg-primary text-white mb-5">
                                                          <i class="icon-md fe-image"></i>
                                                      </div>

                                                      <p class="small text-muted mb-0">You can upload jpg, gif or png files. <br> Max file size 3mb.</p>
                                                      <input id="upload-user-photo" class="d-none" type="file">
                                                      <label class="stretched-label mb-0" for="upload-user-photo"></label>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="small" for="profile-name">Name</label>
                                                  <input class="form-control form-control-lg" name="profile-name" id="profile-name" type="text" placeholder="{{ user.name }}">
                                              </div>

                                              <div class="form-group">
                                                  <label class="small" for="profile-phone">Phone</label>
                                                  <input class="form-control form-control-lg" name="profile-phone" id="profile-phone" type="text" placeholder="{{ user.phone }}"></input>
                                              </div>

                                              <div class="form-group">
                                                  <label class="small" for="profile-email">Email</label>
                                                  <input class="form-control form-control-lg" name="profile-email" id="profile-email" type="email" placeholder="{{ user.email }}">
                                              </div>

                                              <div class="form-group">
                                                  <label class="small" for="profile-about">Bio</label>
                                                  <textarea class="form-control form-control-lg" id="profile-about" rows="3" placeholder="Express yourself" data-autosize="true">{{ user.bio }}</textarea>
                                              </div>

                                              <button class="btn btn-lg btn-primary btn-block" type="submit">Save Preferences</button>
                                          </form>
                                      </div>
                                  </div><!-- .collapse -->

                              </div>
                              <!-- Card -->

                              <!-- Card -->
                              <div class="card mb-6 mb-lg-8">
                                  <div class="card-header position-relative">
                                      <a href="#" class="text-reset d-block stretched-link collapsed" data-toggle="collapse" data-target="#profile-settings-notifications" aria-controls="profile-settings-notifications" aria-expanded="true">
                                          <div class="row no-gutters align-items-center">
                                              <!-- Title -->
                                              <div class="col">
                                                  <h5>Notifications</h5>
                                                  <p>Update your profile details.</p>
                                              </div>

                                              <!-- Icon -->
                                              <div class="col-auto">
                                                  <i class="text-muted icon-md fe-bell"></i>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div id="profile-settings-notifications" class="collapse" data-parent="#profile-settings">
                                      <div class="card-body">
                                          <ul class="list-group list-group-flush">
                                              <li class="list-group-item pt-0 px-0">
                                                  <div class="d-flex align-items-center justify-content-between mb-2">
                                                      <!-- Title -->
                                                      <h6 class="mb-0">Sound</h6>

                                                      <!-- Switch -->
                                                      <div class="custom-control custom-switch">
                                                          <input type="checkbox" class="custom-control-input" id="custom-switch-1">
                                                          <label class="custom-control-label" for="custom-switch-1"></label>
                                                      </div>
                                                  </div>
                                                  <p>Update your profile details.</p>
                                              </li>

                                              <li class="list-group-item px-0">
                                                  <div class="d-flex justify-content-between mb-2">
                                                      <!-- Title -->
                                                      <h6 class="mb-0">Exceptions</h6>

                                                      <!-- Switch -->
                                                      <div class="custom-control custom-switch">
                                                          <input type="checkbox" class="custom-control-input" id="custom-switch-2">
                                                          <label class="custom-control-label" for="custom-switch-2"></label>
                                                      </div>
                                                  </div>
                                                  <p>Update your profile details.</p>
                                              </li>

                                              <li class="list-group-item px-0">
                                                  <div class="d-flex justify-content-between mb-2">
                                                      <!-- Title -->
                                                      <h6 class="mb-0">Message preview</h6>

                                                      <!-- Switch -->
                                                      <div class="custom-control custom-switch">
                                                          <input type="checkbox" class="custom-control-input" id="custom-switch-3">
                                                          <label class="custom-control-label" for="custom-switch-3"></label>
                                                      </div>
                                                  </div>
                                                  <p>Update your profile details.</p>
                                              </li>

                                              <li class="list-group-item pb-0 px-0">
                                                  <div class="d-flex justify-content-between mb-2">
                                                      <!-- Title -->
                                                      <h6 class="mb-0">Show notifications</h6>

                                                      <!-- Switch -->
                                                      <div class="custom-control custom-switch">
                                                          <input type="checkbox" class="custom-control-input" id="custom-switch-4">
                                                          <label class="custom-control-label" for="custom-switch-4"></label>
                                                      </div>
                                                  </div>
                                                  <p>Update your profile details.</p>
                                              </li>
                                          </ul>
                                      </div>
                                  </div><!-- .collapse -->

                              </div>
                              <!-- Card -->

                              <!-- Card -->
                              <div class="card mb-6 mb-lg-8">
                                  <div class="card-header position-relative">
                                      <a href="#" class="text-reset d-block stretched-link collapsed" data-toggle="collapse" data-target="#profile-settings-security" aria-expanded="true" aria-controls="profile-settings-security">
                                          <div class="row no-gutters align-items-center">
                                              <!-- Title -->
                                              <div class="col">
                                                  <h5>Security</h5>
                                                  <p>Update your profile details.</p>
                                              </div>

                                              <!-- Icon -->
                                              <div class="col-auto">
                                                  <i class="text-muted icon-md fe-shield"></i>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div id="profile-settings-security" class="collapse" data-parent="#profile-settings">
                                      <div class="card-body">
                                          <form action="#">
                                              <div class="form-group">
                                                  <label class="small" for="current-password">Current password</label>
                                                  <input name="current-password" id="current-password" type="password" class="form-control form-control-lg" placeholder="Current password">
                                              </div>

                                              <div class="form-group">
                                                  <label class="small" for="new-password">New password</label>
                                                  <input name="new-password" id="new-password" type="password" class="form-control form-control-lg" placeholder="New password">
                                              </div>

                                              <div class="form-group">
                                                  <label class="small" for="verify-password">Verify password</label>
                                                  <input name="verify-password" id="verify-password" type="password" class="form-control form-control-lg" placeholder="Verify password">
                                              </div>

                                              <button class="btn btn-lg btn-primary btn-block" type="submit">
                                                  Change Password
                                              </button>
                                          </form>
                                      </div>
                                  </div><!-- .collapse -->

                              </div>
                              <!-- Card -->

                              <!-- Card -->
                              <div class="card mb-6 mb-lg-8">
                                  <div class="card-header position-relative">
                                      <a href="#" class="text-reset d-block stretched-link collapsed" data-toggle="collapse" data-target="#profile-settings-social" aria-controls="profile-settings-social" aria-expanded="true">
                                          <div class="row no-gutters align-items-center">
                                              <!-- Title -->
                                              <div class="col">
                                                  <h5>Social</h5>
                                                  <p>Update your profile details.</p>
                                              </div>

                                              <!-- Icon -->
                                              <div class="col-auto">
                                                  <i class="text-muted icon-md fe-share-2"></i>
                                              </div>
                                          </div>
                                      </a>
                                  </div>

                                  <div id="profile-settings-social" class="collapse" data-parent="#profile-settings">
                                      <div class="card-body">

                                          <form action="#">
                                              <!-- Twitter -->
                                              <div class="form-group">
                                                  <label class="small" for="profile-twitter">Twitter</label>
                                                  <div class="input-group">
                                                      <div class="input-group-prepend">
                                                          <div class="btn btn-ico btn-secondary btn-minimal">
                                                              <i class="fe-twitter"></i>
                                                          </div>
                                                      </div>
                                                      <input id="profile-twitter" type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username">
                                                  </div>
                                              </div>

                                              <!-- Facebook -->
                                              <div class="form-group">
                                                  <label class="small" for="profile-facebook">Facebook</label>
                                                  <div class="input-group">
                                                      <div class="input-group-prepend">
                                                          <div class="btn btn-ico btn-secondary btn-minimal">
                                                              <i class="fe-facebook"></i>
                                                          </div>
                                                      </div>
                                                      <input id="profile-facebook" type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username">
                                                  </div>
                                              </div>

                                              <!-- Instagram -->
                                              <div class="form-group">
                                                  <label class="small" for="profile-instagram">Instagram</label>
                                                  <div class="input-group">
                                                      <div class="input-group-prepend">
                                                          <div class="btn btn-ico btn-secondary btn-minimal">
                                                              <i class="fe-instagram"></i>
                                                          </div>
                                                      </div>
                                                      <input id="profile-instagram" type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username">
                                                  </div>
                                              </div>



                                              <button class="btn btn-lg btn-primary btn-block" type="submit">Save Preferences</button>
                                          </form>
                                      </div>
                                  </div><!-- .collapse -->

                              </div>
                              <!-- Card -->

                          </div>
                      </div>
                      <!-- Accordion -->

                  </div>
              </div>
              <!-- Chat: Content -->

          </div>
          <!-- Chat: body -->

      </div>
      <!-- Chat -->
    </div>


    <!-- Main Content -->


</div>
{% endblock %}
