{% extends "base.html" %}
{% load static %}
{% block title %}
<title>MeetNakama | Signup</title>
{% endblock %}
{% block content %}
<div class="layout">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
        <!-- Heading -->
        <h1 class="font-bold text-center">Sign up</h1>
        <!-- Text -->
        <p class="text-center mb-6">Welcome to the official Chat web-client.</p>
        {% load crispy_forms_tags %}
        <!-- Form -->
        <form class="mb-6">
          {% csrf_token %}
          <!-- Name -->
          <div class="form-group">
            {{ form| crispy }}
          </div>
          <!-- Submit -->
          <button class="btn btn-lg btn-block btn-primary" type="submit">Sign up</button>
        </form>
        <!-- Text -->
        <p class="text-center">
          Already have an account? <a href="{% url 'login' %}">Sign in</a>.
        </p>
      </div>
    </div>
     <!-- / .row -->
  </div>
</div>
<!-- .layout -->
{% endblock %}
